* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;
}
.ukpb__wrap {
    position: relative;
    min-height: 100dvh;
}
.ukpb__wrap > .content {
    position: relative;
}